<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cadru.Core" version="1.0.5700.65" targetFramework="net45" userInstalled="true" />
  <package id="Dapper" version="1.42" targetFramework="net45" userInstalled="true" />
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net45" userInstalled="true" />
  <package id="PCLCrypto" version="0.5.1.14165" targetFramework="net45" userInstalled="true" />
  <package id="Validation" version="2.0.4.14103" targetFramework="net45" userInstalled="true" />
</packages>