<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cadru.Contracts" version="4.0.0-beta-27" targetFramework="net45" />
  <package id="Cadru.Core" version="4.0.0-beta-27" targetFramework="net45" />
  <package id="Cadru.Portability" version="4.0.0-beta-27" targetFramework="net45" />
  <package id="Cadru.Net" version="4.0.0-beta-27" targetFramework="net45" />
  <package id="Cadru.TransientFaultHandling" version="4.0.0-beta-27" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
  <package id="PCLCrypto" version="0.5.1.14165" targetFramework="net45" />
  <package id="Validation" version="2.0.4.14103" targetFramework="net45" />
</packages>